body{
    font-family: sans-serif;
    text-align: center;
    background-color: #FCE4EC;
}

#glowny{
    display: flex;
}

header, footer{
    background-color: #880E4F;
    color: white;
    padding: 10px;
    letter-spacing: 20px;
}

#lewy{
    width: 50%;
    height: 600px;
    overflow: auto;
}

#prawy{
    background-color: #880E4F;
    color: white;
    width: 40%;
    height: 500px;
    margin: 35px;
    box-shadow: 10px 10px 15px dimgray;
}

table{
    margin: auto;
    width: 70%;
}

input, select, button{
    margin: 5px;
    width: 70%;
}

th:hover, td:hover{
    background-color: #F8BBD0;
}